<h1>{{ title }}</h1>
<p>{{ subtitle }}</p>

<table class="runtime-table">
  <tr><th>Service</th>      <td>{{ service }}</td></tr>
  <tr><th>Revision</th>     <td>{{ revision }}</td></tr>
  <tr><th>Configuration</th><td>{{ configuration }}</td></tr>
  <tr><th>Environment</th>  <td>{{ environment }}</td></tr>
  <tr><th>Port</th>         <td>{{ port }}</td></tr>
  <tr><th>Commit SHA</th>   <td>{{ commit_sha }}</td></tr>
  <tr><th>Build version</th><td>{{ build_version }}</td></tr>
</table>

<p><a href="/home">&larr; Home</a></p>
